body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:71px;
  top:52px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:108px;
  top:124px;
  width:112px;
  height:16px;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:160px;
  width:240px;
  height:16px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:186px;
  width:300px;
  height:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:212px;
  width:190px;
  height:16px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:238px;
  width:190px;
  height:16px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:390px;
  top:160px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:450px;
  top:186px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:360px;
  top:212px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:360px;
  top:238px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
