<?xml version="1.0" encoding="utf-8"?>
<manifest
		package = "com.oplay.giftcool"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		xmlns:tools = "http://schemas.android.com/tools" >


	<uses-permission android:name = "android.permission.WAKE_LOCK" />
	<uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />

	<!-- 偶玩权限 -->
	<uses-permission android:name = "android.permission.READ_PHONE_STATE" />
	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
	<!--悬浮窗权限-->
	<uses-permission android:name = "android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name = "android.permission.GET_ACCOUNTS" />
	<uses-permission android:name = "com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name = "com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name = "com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name = "com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
	<!--银联插件3.1.0新增权限-->
	<uses-permission android:name = "android.permission.CHANGE_NETWORK_STATE" />
	<!--易联支付需要权限 -->
	<!--<uses-permission android:name = "android.permission.READ_SMS" />-->
	<!--<uses-permission android:name = "android.permission.RECEIVE_SMS" />-->
	<uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
	<!--<uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />-->
	<!--<uses-permission android:name = "android.permission.RECORD_AUDIO" />-->
	<uses-permission android:name = "android.permission.CHANGE_WIFI_STATE" />

	<!--<uses-feature android:name = "android.hardware.camera" />-->
	<!--<uses-feature android:name = "android.hardware.camera.autofocus" />-->

	<!--<uses-permission android:name = "android.permission.CAMERA" />-->
	<uses-permission android:name = "android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!--<uses-permission android:name = "android.permission.RECORD_VIDEO" />-->


	<!-- 汇付宝-微信支付需要权限-->
	<uses-permission android:name = "android.permission.VIBRATE" />
	<uses-permission android:name = "android.permission.PLUGIN" />
	<uses-permission android:name = "android.permission.GET_TASKS" />

	<!-- 极光推送， 相同已删 -->
	<uses-permission android:name = "${applicationId}.permission.JPUSH_MESSAGE" />
	<permission
			android:name = "${applicationId}.permission.JPUSH_MESSAGE"
			android:protectionLevel = "signature" />

	<uses-permission android:name = "android.permission.RECEIVE_USER_PRESENT" />
	<uses-permission android:name = "android.permission.WRITE_SETTINGS" />

	<application
			android:name = ".AssistantApp"
			android:allowBackup = "false"
			android:icon = "@mipmap/ic_launcher"
			android:label = "@string/app_name"
			android:theme = "@style/AppTheme"
			tools:replace = "android:icon, android:theme, android:allowBackup" >

		<activity
				android:name = ".ui.activity.SplashActivity"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait" >
			<intent-filter >
				<action android:name = "android.intent.action.MAIN" />
				<category android:name = "android.intent.category.LAUNCHER" />
			</intent-filter >
		</activity >

		<!--android:screenOrientation = "sensorPortrait"-->
		<activity
				android:name = ".ui.activity.MainActivity"
				android:launchMode = "singleTask"
				android:screenOrientation = "sensorPortrait"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" >
		</activity >

		<activity
				android:name = ".ui.activity.SearchActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "stateVisible|adjustPan" />

		<activity
				android:name = ".ui.activity.GiftListActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<activity
				android:name = ".ui.activity.GameDetailActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<activity
				android:name = ".ui.activity.GiftDetailActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:screenOrientation = "sensorPortrait"
				android:launchMode = "singleTop"
				android:exported = "true"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" >
			<intent-filter >
				<action android:name = "android.intent.action.VIEW" />

				<category android:name = "android.intent.category.DEFAULT" />
				<category android:name = "android.intent.category.BROWSABLE" />

				<data
						android:scheme = "http"
						android:host = "giftcool.ouwan.com"
						android:pathPrefix = "/api/show_gift" />
			</intent-filter >
		</activity >

		<activity
				android:name = ".ui.activity.GameListActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<activity
				android:name = ".ui.activity.SettingActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<activity
				android:name = ".ui.activity.LoginActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:launchMode = "singleTop"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<activity
				android:name = ".ui.activity.WebActivity"
				android:configChanges = "keyboard|keyboardHidden|navigation|orientation|screenSize"
				android:screenOrientation = "sensorPortrait"
				android:windowSoftInputMode = "adjustPan|stateAlwaysHidden" />

		<service
				android:name = ".service.ClockService"
				android:exported = "false" />

		<activity
				android:name = ".wxapi.WXEntryActivity"
				android:exported = "true"
				android:screenOrientation = "sensorPortrait" />

		<activity
				android:name = ".sharesdk.activity.QQEntryActivity"
				android:launchMode = "singleTask"
				android:exported = "true"
				android:screenOrientation = "sensorPortrait" >
			<intent-filter >
				<action android:name = "android.intent.action.VIEW" />

				<category android:name = "android.intent.category.DEFAULT" />
				<category android:name = "android.intent.category.BROWSABLE" />
				<!-- 使用腾讯demo id -->
				<data android:scheme = "tencent222222" />
			</intent-filter >
		</activity >

		<activity
				android:name = "com.tencent.tauth.AuthActivity"
				android:launchMode = "singleTask"
				android:noHistory = "true" >
			<intent-filter >
				<action android:name = "android.intent.action.VIEW" />

				<category android:name = "android.intent.category.DEFAULT" />
				<category android:name = "android.intent.category.BROWSABLE" />

				<data android:scheme = "tencent${qqAppKey}" />
			</intent-filter >
		</activity >
		<!-- NOTE:::::下面AssistActivity不能设置noHistory，否则会导致连QQ登录都无法正常回调 -->
		<!--android:noHistory = "true"-->
		<activity
				android:name = "com.tencent.connect.common.AssistActivity"
				android:configChanges = "orientation|keyboardHidden|screenSize"
				android:screenOrientation = "portrait"
				android:theme = "@android:style/Theme.Translucent.NoTitleBar" />

		<receiver android:name = ".receiver.PackageInstallReceiver" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.intent.action.PACKAGE_ADDED" />
				<action android:name = "android.intent.action.PACKAGE_REMOVED" />

				<data android:scheme = "package" />
			</intent-filter >
		</receiver >

		<meta-data
				android:name = "UMIPAY_CHANNEL"
				android:value = "0" />
		<meta-data
				android:name = "UMIPAY_SUBCHANNEL"
				android:value = "0" />


		<!-- Rich push 核心功能 since 2.0.6-->
		<activity
				android:name = "cn.jpush.android.ui.PopWinActivity"
				android:theme = "@style/MyDialogStyle"
				android:exported = "false" >
		</activity >

		<!-- Required SDK核心功能-->
		<activity
				android:name = "cn.jpush.android.ui.PushActivity"
				android:configChanges = "orientation|keyboardHidden"
				android:theme = "@android:style/Theme.NoTitleBar"
				android:exported = "false" >
			<intent-filter >
				<action android:name = "cn.jpush.android.ui.PushActivity" />

				<category android:name = "android.intent.category.DEFAULT" />
				<category android:name = "${applicationId}" />
			</intent-filter >
		</activity >
		<!-- Required  SDK核心功能-->
		<service
				android:name = "cn.jpush.android.service.DownloadService"
				android:enabled = "true"
				android:exported = "false" >
		</service >


		<!-- Required SDK 核心功能-->
		<!-- 可配置android:process参数将PushService放在其他进程中 -->
		<service
				android:name = "cn.jpush.android.service.PushService"
				android:enabled = "true"
				android:exported = "false" >
			<intent-filter >
				<action android:name = "cn.jpush.android.intent.REGISTER" />
				<action android:name = "cn.jpush.android.intent.REPORT" />
				<action android:name = "cn.jpush.android.intent.PushService" />
				<action android:name = "cn.jpush.android.intent.PUSH_TIME" />
			</intent-filter >
		</service >

		<!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
		<!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
		<service
				android:name = "cn.jpush.android.service.DaemonService"
				android:enabled = "true"
				android:exported = "true" >
			<intent-filter >
				<action android:name = "cn.jpush.android.intent.DaemonService" />
				<category android:name = "${applicationId}" />
			</intent-filter >

		</service >

		<!-- Required SDK核心功能-->
		<receiver
				android:name = "cn.jpush.android.service.PushReceiver"
				android:enabled = "true"
				android:exported = "false" >
			<intent-filter android:priority = "1000" >
				<action android:name = "cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
				<!--Required  显示通知栏 -->
				<category android:name = "${applicationId}" />
			</intent-filter >
			<intent-filter >
				<action android:name = "android.intent.action.USER_PRESENT" />
				<action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter >
			<!-- Optional -->
			<intent-filter >
				<action android:name = "android.intent.action.PACKAGE_ADDED" />
				<action android:name = "android.intent.action.PACKAGE_REMOVED" />

				<data android:scheme = "package" />
			</intent-filter >

		</receiver >

		<!-- Required SDK核心功能-->
		<receiver
				android:name = "cn.jpush.android.service.AlarmReceiver"
				android:exported = "false" />

		<!-- User defined.  For test only  用户自定义的广播接收器-->
		<receiver
				android:name = ".receiver.JPushReceiver"
				android:exported = "false"
				android:enabled = "true" >
			<intent-filter >
				<action android:name = "cn.jpush.android.intent.REGISTRATION" />
				<!--Required  用户注册SDK的intent-->
				<action android:name = "cn.jpush.android.intent.MESSAGE_RECEIVED" />
				<!--Required  用户接收SDK消息的intent-->
				<action android:name = "cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
				<!--Required  用户接收SDK通知栏信息的intent-->
				<action android:name = "cn.jpush.android.intent.NOTIFICATION_OPENED" />
				<!--Required  用户打开自定义通知栏的intent-->
				<action android:name = "cn.jpush.android.intent.CONNECTION" />
				<!-- 接收网络变化 连接/断开 since 1.6.3 -->
				<category android:name = "${applicationId}" />
			</intent-filter >
		</receiver >


		<!-- Required  . Enable it you can get statistics data with channel -->
		<meta-data
				android:name = "JPUSH_CHANNEL"
				android:value = "developer-default" />
		<meta-data
				android:name = "JPUSH_APPKEY"
				android:value = "${jpushAppKey}" />
		<!--  </>值来自开发者平台取得的AppKey-->
	</application >

</manifest >
