<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.oplay.giftassistant"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<!-- 偶玩权限 -->
	<uses-permission android:name = "android.permission.READ_PHONE_STATE" />
	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
	<!--悬浮窗权限-->
	<uses-permission android:name = "android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name = "android.permission.GET_ACCOUNTS" />
	<uses-permission android:name = "com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name = "com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name = "com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name = "com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
	<!--银联插件3.1.0新增权限-->
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<!--易联支付需要权限 -->
	<uses-permission android:name = "android.permission.READ_SMS" />
	<uses-permission android:name = "android.permission.RECEIVE_SMS" />
	<uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name = "android.permission.RECORD_AUDIO" />
	<uses-permission android:name = "android.permission.CHANGE_WIFI_STATE" />

	<uses-feature android:name = "android.hardware.camera" />
	<uses-feature android:name = "android.hardware.camera.autofocus" />

	<uses-permission android:name = "android.permission.CAMERA" />
	<uses-permission android:name = "android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name = "android.permission.RECORD_VIDEO" />


	<!-- 汇付宝-微信支付需要权限-->
	<uses-permission android:name = "android.permission.VIBRATE" />
	<uses-permission android:name = "android.permission.PLUGIN" />

    <application
        android:name=".AssistantApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme, android:allowBackup">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
        </activity>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustPan"/>

	    <activity
			    android:name=".ui.activity.GiftListActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <activity
			    android:name=".ui.activity.GiftDetailActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <activity
			    android:name=".ui.activity.GameDetailActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <activity
			    android:name=".ui.activity.GameListActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <activity
			    android:name=".ui.activity.SettingActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <activity
			    android:name=".ui.activity.LoginActivity"
			    android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

	    <service android:name = ".service.ClockService" android:exported="false" />
    </application>

</manifest>
