body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:101px;
  width:263px;
  height:135px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:135px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:114px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:123px;
  top:158px;
  width:82px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:36px;
  top:246px;
  width:47px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:28px;
  top:60px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:148px;
  width:51px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:370px;
  top:101px;
  width:360px;
  height:620px;
  color:#CCCCCC;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u14 {
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:370px;
  top:101px;
  width:360px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:408px;
  top:113px;
  width:82px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:380px;
  top:115px;
  width:20px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u20 {
  position:absolute;
  left:370px;
  top:147px;
  width:360px;
  height:574px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:574px;
}
#u21 {
  position:absolute;
  left:2px;
  top:279px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:384px;
  top:254px;
  width:316px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#1E1E1E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:370px;
  top:301px;
  width:349px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:349px;
  height:1px;
}
#u25 {
  position:absolute;
  left:390px;
  top:277px;
  width:160px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:384px;
  top:324px;
  width:62px;
  height:16px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:387px;
  top:164px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:447px;
  top:164px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:447px;
  top:186px;
  width:119px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:620px;
  top:170px;
  width:97px;
  height:33px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:14px;
  color:#008000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:374px;
  top:219px;
  width:349px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:349px;
  height:1px;
}
#u37 {
  position:absolute;
  left:447px;
  top:203px;
  width:143px;
  height:16px;
  font-size:11px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:890px;
  top:190px;
  width:270px;
  height:140px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:140px;
}
#u40 {
  position:absolute;
  left:2px;
  top:62px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:894px;
  top:148px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:896px;
  top:205px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:894px;
  top:226px;
  width:246px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:229px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:246px;
  height:1px;
}
#u46 {
  position:absolute;
  left:905px;
  top:226px;
  width:245px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:56px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:910px;
  top:286px;
  width:95px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#333333;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:1026px;
  top:286px;
  width:106px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#008000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50 {
  position:absolute;
  left:758px;
  top:199px;
  width:96px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:110px;
  height:20px;
}
#u51 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:764px;
  top:176px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
